<html> 
<head> 
    <title> Corona latest update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        *{margin: 0; padding: 0; box-sizing: border-box;font-family: 'Muli', sans-serif; scroll-behavior: smooth;}

        .nav_style
        {
            background-color: #a29bfe!important;
            position: absolute;
            
        }

        .nav_style a{
            color: #f1f1f1;
            
        
        }
    </style>
</head> 
<body>
   
    <table class="table table-bordered"  style="font-weight:bold>
    <table  stylefont-weight:bold">
    <thead>
	<tr>
	<th><strong>S. No.</strong></th>
	<th><strong>Name of State / UT</strong></th>
	<th><strong>Total Confirmed cases (Including 51 foreign Nationals) </strong></th>                              
	<th><strong>Cured/Discharged/<br>Migrated</strong></th>
	<th><strong>Death</strong></th>
	</tr>
</thead>
    <tbody>
<tr>
<td>1</td>
<td>Andhra Pradesh</td>
<td>86</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>2</td>
<td>Andaman and Nicobar Islands</td>
<td>10</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>3</td>
<td>Assam</td>
<td>1</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>4</td>
<td>Bihar</td>
<td>23</td>
<td>0</td>
<td>1</td>
</tr>
<tr>
<td>5</td>
<td>Chandigarh</td>
<td>16</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>6</td>
<td>Chhattisgarh</td>
<td>9</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td>7</td>
<td>Delhi</td>
<td>152</td>
<td>6</td>
<td>2</td>
</tr>
<tr>
<td>8</td>
<td>Goa</td>
<td>5</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>9</td>
<td>Gujarat</td>
<td>82</td>
<td>5</td>
<td>6</td>
</tr>
<tr>
<td>10</td>
<td>Haryana</td>
<td>43</td>
<td>21</td>
<td>0</td>
</tr>
<tr>
<td>11</td>
<td>Himachal Pradesh</td>
<td>3</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>12</td>
<td>Jammu and Kashmir</td>
<td>62</td>
<td>2</td>
<td>2</td>
</tr>
<tr>
<td>13</td>
<td>Jharkhand</td>
<td>1</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>14</td>
<td>Karnataka</td>
<td>110</td>
<td>9</td>
<td>3</td>
</tr>
<tr>
<td>15</td>
<td>Kerala</td>
<td>265</td>
<td>25</td>
<td>2</td>
</tr>
<tr>
<td>16</td>
<td>Ladakh</td>
<td>13</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td>17</td>
<td>Madhya Pradesh</td>
<td>99</td>
<td>0</td>
<td>6</td>
</tr>
<tr>
<td>18</td>
<td>Maharashtra</td>
<td>335</td>
<td>42</td>
<td>13</td>
</tr>
<tr>
<td>19</td>
<td>Manipur</td>
<td>1</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>20</td>
<td>Mizoram</td>
<td>1</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>21</td>
<td>Odisha</td>
<td>4</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>22</td>
<td>Puducherry</td>
<td>3</td>
<td>1</td>
<td>0</td>
</tr>
<tr>
<td>23</td>
<td>Punjab</td>
<td>46</td>
<td>1</td>
<td>4</td>
</tr>
<tr>
<td>24</td>
<td>Rajasthan</td>
<td>108</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td>25</td>
<td>Tamil Nadu</td>
<td>234</td>
<td>6</td>
<td>1</td>
</tr>
<tr>
<td>26</td>
<td>Telengana</td>
<td>96</td>
<td>1</td>
<td>3</td>
</tr>
<tr>
<td>27</td>
<td>Uttarakhand</td>
<td>7</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td>28</td>
<td>Uttar Pradesh</td>
<td>113</td>
<td>14</td>
<td>2</td>
</tr>
<tr>
<td>29</td>
<td>West Bengal</td>
<td>37</td>
<td>6</td>
<td>3</td>
</tr>
<tr>
<td colspan="2"><strong>Total number of confirmed cases in India</strong></td>
<td><strong>1965</strong></td>
<td>
<strong>151</strong>
</td>
<td>
<strong>50</strong>
</td>
</tr>
<!--<tr>
	<td colspan="5"><strong>#Remaining 38 cases are being assigned to states to initiate contact tracing</strong></td>
	</tr>-->
</tbody></table>
    
    </body> 
</html>